nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4056a1;
  color: #ffffff;
  height: 120px;
  padding: 0 1.5em;
  width: 100%;
  /*** ---   places nav infront of header --- ***/
  position: fixed;
  top: 0;
  z-index: 9999;
}

span {
  font-family: "Bungee", sans-serif;
  font-size: 1.5em; /*  1.5ems of space on the right and left between the content and the edges  */
}

.nav-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5em;
}

.nav-container p {
  margin: 0;
}

.nav-container > i {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

/* RESPONSIVE design for DESKTOP */
@media (max-width: 1024px) {
  nav {
    background-color: #4056a1;
    background-image: url(../images/fabric-of-squares.png);
  }
}